@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
  }
   
  html {
    height: 100%;
  }
  
  body {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px; 
    line-height: 22px;
    color: #2D3440;
    background-color: #FFFFFF; 
  }

  .wrapper {
    background-color: #FEAFC3;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    width: 1366px;
    background-color: #FEAFC3;
  }

  .main-container {
    flex-grow: 1;
  }

  .content-container {
    margin: 0 98px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .subscribe-button,
  .delivery-button,
  .contacts-button,
  .place-order-button,
  .entry-button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FCFCFC;
    background-color: #FF2F64;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
  }

  .subscribe-button:hover,
  .delivery-button:hover,
  .contacts-button:hover,
  .place-order-button:hover,
  .entry-button:hover {
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    outline: 4px solid #FF2F64;
  }

  .subscribe-button:focus,
  .delivery-button:focus,
  .contacts-button:focus,
  .place-order-button:focus,
  .entry-button:focus {
    background-color: #FF2F64;
    outline: 2px solid #2D3440;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  }

  .subscribe-button:active,
  .delivery-button:active,
  .contacts-button:active,
  .place-order-button:active,
  .entry-button:active {
    color:#FCFCFC;
    background-color: #FEAFC3;
    outline: 2px solid #2D3440;
    box-shadow: 0, 4px, 12px rgba(45, 52, 64, 0.1);
  }

  .subscribe-button:disabled,
  .delivery-button:disabled,
  .entry-button:disabled {
    color: #565C66;
    background-color: #B9B9B9;
    outline: 4px solid rgb(185, 185, 185, 0.3);
  }

  .button-order,
  .button-gift,
  .show-more-button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #2D3440;
    background-color: #FCFCFC;
    outline: 4px solid rgba(255, 252, 252, 0.4);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    text-decoration: none;
    padding: 12px 32px;
  }

  .button-order:hover,
  .button-gift:hover,
  .show-more-button:hover {
    background-color: rgba(255, 252, 252, 0.4);
    outline: 4px solid #FCFCFC;
    box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  }

  .button-order:focus,
  .button-gift:focus,
  .show-more-button:focus {
    background-color: rgba(255, 252, 252, 0.5);
    outline: 2px solid #2D3440;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  }

  .button-order:active,
  .button-gift:active,
  .show-more-button:active {
    background-color: #FCFCFC;
    outline: 2px solid #2D3440;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  } 

  .show-more-button:disabled {
    background-color: #E7E7E7;
    outline: 4px solid rgba(252, 252, 252, 0.4);
  }

  /* ------header------ */

  .navigation {
    display: flex;
  }

  .logo-image {
    padding: 24px 0;
  }

  .navigation-list-general {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    align-items: center;
    margin-left: 16px;
    padding: 26px 0 18px 0;
  }
  
  .navigation-item-general:not(:last-child) {
    margin-right: 2px;
  }

  .navigation-item-general {
    margin-bottom: 15px;
  }

  .navigation-link-general {
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
    padding: 8px 16px;
  }

  .navigation-wrapper {
    display: flex;
    width: 450px;
    align-items: center;
    margin-left: auto;
    padding: 26px 0 18px 0;
  }

  .header-address {
    display: flex;
    padding: 9px 0 21px 0;
  }

  .company-phone {
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    color: #2D3440;
    text-decoration: none;
    padding: 8px 6px 8px 18px;
    width: 158px;
    margin-right: 3px;
  }

  .company-phone:hover {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
  }

  .company-phone:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    outline: 2px solid #2D3440;
  }

  .company-phone:active {
    background-color: rgba(252, 252, 252, 1);
    border-radius: 30px;
  }

  .navigation-list-personal {
    position: relative;
    display: flex;
    min-width: 290px;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
  }

  .drop-down-list {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .navigation-link-personal {
    font-size: 14px; 
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
    display: flex;
    background-color: rgba(252, 252, 252, 0.3);
    padding: 7px 16px;
    border-radius: 30px;
  }

  .navigation-link-personal:hover {
    background-color: rgba(252, 252, 252, 0.5);
  }

  .navigation-link-personal:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2D3440;
  }

  .navigation-link-personal:active {
    background-color: rgba(252, 252, 252, 1);
  }

  .navigation-item-personal {
    margin-bottom: 15px;
  }
   
  .navigation-item-personal:not(:last-child) {
    margin-right: 12px;
  }

  .navigation-item-personal:nth-child(2) {
    margin-right: 16px;
  }

  .navigation-link-search {
    padding: 8.5px;
    border-radius: 50%;
  }

  .search-image {
    fill: #2D3440;
  }

  .entry-image {
    order: -1;
    margin-right: 6px;
    fill: #2D3440;
    align-self: center;
  }

  .basket-image-navigation {
    order: -1;
    margin-right: 6px;
    fill: #2D3440;
    align-self: center;
  }

  .navigation-link-general:hover {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
  }

  .navigation-link-general:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    outline: 2px solid #2D3440;
  }

  .navigation-link-general:active {
    background-color: rgba(252, 252, 252, 1);
    border-radius: 30px;
  }
  
  .cart-empty {
    position: absolute;
    background-color: #FCFCFC;
    width: 288px;
    padding: 48px 0;
    top: 84px;
    right: 18px;
    border-radius: 4px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    display: none;
  }

  .cart-text {
    font-size: 24px; 
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  .catalog-link-active {
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
  }

  .catalog-link-active:hover {
    background-color: rgba(252, 252, 252, 0.5);
    color: #2D3440;
  }

  .catalog-link-active:focus {
    background-color: rgba(252, 252, 252, 0.5);
    color: #2D3440;
    outline: 2px solid #2D3440;
  }

  .catalog-link-active:active {
    background-color: rgba(252, 252, 252, 1);
    color: #2D3440;
  }

  /* ------subcatalog------ */

  .subcatalog-link {
    font-size: 14px; 
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
  }

  .subcatalog-list {
    padding: 5px 14px 5px 18px;
  }

  .subcatalog-link-title {
    font-size: 14px; 
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
  }

  .subcatalog-title {
    padding: 5px 14px 5px 18px;
  }

  .subcatalog {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 138px;
    background-color: #FCFCFC;
    padding: 9px 0;
    top: 77px;
    left: 2px;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    display: none;
  }

  .subcatalog:focus-within {
    display: block;
  }

  .navigation-item-subcatalog {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .navigation-item-subcatalog:hover .navigation-link-active {
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
  }

  .navigation-item-subcatalog:hover .subcatalog {
    display: block;
  }

  .subcatalog-title {
    position: relative;
    margin-bottom: 10px;
  }

  .subcatalog-title::before {
    position: absolute;
    content: " ";
    width: 105px;
    height: 1px;
    background-color: #B9B9B9;
    top: 39px;
    left: 18px;
  }

  .subcatalog-list-selected {
    background-color: #FF4A78;
  }

  .subcatalog-link-selected {
    color: #FCFCFC;
  }

  .subcatalog-link-selected:hover,:active {
    color: #2D3440;
  }

  .subcatalog-list:hover {
    background-color: #FFCBD8;
  }

  .subcatalog-list:active {
    background-color: #FF7799;
  }

  /* ------search------ */

  .search-form-wrapper {
    position: absolute;
    top: 48px;
    right: 258px;
    width: 324px;
    padding: 24px 16px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    z-index: 2;
    display: none;
  }

  .search-field {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    width: 324px;
    padding: 14px 13px 14px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    cursor: pointer;
  }

  .search-fild::-webkit-input-placeholder {
    color: #B9B9B9;
  }

  .search-field[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons/search-close.svg");
    background-position: right 16px center;   
    cursor: pointer; 
  }

  .search-field[type="search"]:focus {
    outline: none;
    display: block;
  }

  .search-form-open:hover .search-form-wrapper {
    display: block;
  }

  .search-form-open:hover .navigation-link-active {
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
  }

  .search-form-wrapper:focus-within {
    display: block;
  }

  .search-form-open:hover svg {
    fill: #FCFCFC;
  }

  /* ------registration------ */

  .registration-form {
    position: absolute;
    width: 324px;
    padding: 48px 48px 52px ;
    background-color: #FCFCFC;
    top: 48px;
    right: 153px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    z-index: 2;
    display: none;
  }

  .registration-form:focus-within {
    display: block;
  }

  .registration-form-open:hover .navigation-link-active {
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
  }
  
  .registration-form-open:hover svg {
    fill: #FCFCFC;
  }

  .registration-form-open:hover .registration-form {
    display: block;
  }

  .registration-form-open:active .registration-form {
    display: block;
  }

  .form-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 32px 0;
  }

  .email-form {
    margin: 0 0 16px 0;
  }

  .password-form {
    margin: 0;
  }

  .registration-wrapper {
    display: flex;
    margin-top: 30px;
  }

  .registration-text {
    display: flex;
    flex-direction: column;
  }

  .forgot-password,
  .registration {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
    margin: 0;
  }

  .forgot-password {
    margin-bottom: 4px;
  }

  .forgot-password {
    border-bottom: 1px solid #2D3440;
  }

  .registration {
    display: flex;
    border-bottom: 1px solid #2D3440;
    width: 89px;
  }

  .entry-field {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    width: 295px;
    padding: 14px 13px 14px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    cursor: pointer;
  }

  .entry-field::-webkit-input-placeholder {
    color:#2D3440;
  }

  .entry-field:hover,
  .password-field:hover {
    border: 1px solid #2D3440;
  }

  .entry-field:focus,
  .password-field:focus {
    outline: 2px solid #2D3440;
    outline-offset: -2px;
  }

  .entry-field:disabled,
  .password-field:disabled {
     outline: 1px solid #B9B9B9;
     background-color: #E7E7E7;
     border: none;
  }
 
  .entry-field:disabled::-webkit-input-placeholder,
  .password-field:disabled::-webkit-input-placeholder  {
     color: rgba(45, 52, 64, 0.65);
  }

  .password-field {
    border: 1px solid #B9B9B9;
    width: 295px;
    padding: 16px 13px 16px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .entry-button {
    padding: 12px 32px;
    border: none;
    margin-right: 23px;
  }

  /* ------popover------ */

  .popover {
    position: absolute;
    background-color: #FCFCFC;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 4px;
    width: 345px;
    padding: 48px;
    top: 48px;
    right: 25px;
    z-index: 2;
    display: none;
  }

  .popover:focus-within {
    display: block;
  }

  .popover-open:hover .popover {
    display: block;
  }

  .popover-open:hover .navigation-link-active {
    background-color: #FF4A78;
    color: #FCFCFC;
    border-radius: 30px;
  }

  .popover-open:hover svg {
    fill: #FCFCFC;
  }
  
  .popover-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 32px 0;
  }

  .cart-item {
    display: flex;
  }

  .cart-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .cart-list {
    position: relative;
    margin-bottom: 64px;
  }

  .cart-list::after {
    position: absolute;
    content: " ";
    width: 345px;
    height: 1px;
    background-color: #E7E7E7;
    bottom: -32px;
  }

  .cart-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 4px 0;
  }

  .cart-image {
    margin-right: 16px;
  }

  .cart-calculation {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #A1A4AA;
    margin: 0;
  }
  
  .choice-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  .cart-price,
  .cart-total {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    align-self: center;
  }

  .cart-price{
    margin-left: auto;
  }

  .cart-item-button {
    margin-left: auto;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center top 18px;
    fill: #2D3440;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .place-order-button {
    padding: 12px 32px;
    border: none;
    text-decoration: none;
    margin-right: 32px;
  }

  .total-wrapper {
    display: flex;
  }
  
  /* ------gallery------ */

  .gallery-hidden {
    display: none;
  }

  .gallery {
    margin-bottom: 75px;
  }

  .gallery-wrapper {
    display: flex;
  }

  .goods-wrapper {
    display: flex;
    flex-direction: column;
    width: 470px;
    padding: 130px 0 126px 70px;
  }

  .goods-title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    margin: 0 0 24px 0;
  }

  .goods-description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 56px 48px 0;
  }

  .button-order {
    align-self: flex-start;
  }

  .goods-list {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .goods-item:not(:last-child) {
    margin-right: 41px;
  }

  .image-wrapper {
    position: relative;
    width: 306px;
    padding: 0 21px;
    z-index: 1;
  }

  .image-wrapper::before {
    position: absolute;
    content: " ";
    width: 312px;
    height: 312px;
    border-radius: 50%;
    background-color: #FFCBD8;
    top: 100px;
    z-index: -1;
  }

  .slider-creamy-cream::before {
    position: absolute;
    content: " ";
    width: 312px;
    height: 312px;
    border-radius: 50%;
    background-color: #9FC8FF;
    top: 100px;
    z-index: -1;
  }

  .slider-caramel-cream::before {
    position: absolute;
    content: " ";
    width: 312px;
    height: 312px;
    border-radius: 50%;
    background-color: #FCDC92;
    top: 100px;
    z-index: -1;
  }
  
  .slider-controls {
    position: absolute;
    display: flex;
    width: 350px;
    justify-content: space-between;
    bottom: 238px;
    left: 2px;
  }

  .slider-button {
    display: flex;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #FCFCFC;
    background-color: rgba(252, 252, 252, 0.3);
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .slider-image {
    fill:#FCFCFC
  }

  .slider-image-next {
    transform: rotate(180deg);
    fill: #FCFCFC;
  }

  .slider-button:hover {
    background-color: #FCFCFC;
    opacity: 1;
  }

  .slider-button:hover .slider-image {
    fill: #2D3440;
  }

  .slider-button:hover .slider-image-next {
    fill: #2D3440;
  }

  .slider-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid #2D3440;
    outline-offset: -2px;
  }

  .slider-button:focus .slider-image {
    fill: #2D3440;
  }

  .slider-button:focus .slider-image-next {
    fill: #2D3440;
  }

  .slider-button:active {
    border: 2px solid rgba(252, 252, 252, 0.5);
    background-color: rgba(252, 252, 252, 0.5);
  }

  .slider-button:active .slider-image {
    fill: #2D3440;
  }

  .slider-button:active .slider-image-next {
    fill: #2D3440;
  }

  .slider-button:disabled {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid rgba(252, 252, 252, 0.4);
    outline-offset: -2px;
  }

  .slider-button:disabled .slider-image {
    fill: rgba(252, 252, 252, 0.4);
  }

  .slider-button:disabled .slider-image-next {
    fill: rgba(252, 252, 252, 0.4);
  }

  .image-small-wrapper {
    position: relative;
    width: 66px;
    padding: 0 17px;
    margin-top: 5px;
    z-index: 1;
  }

  .image-small-wrapper::before {
    position: absolute;
    content: " ";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    top: 25px;
    background-color: #FFCBD8;
    opacity: 0.4;
    z-index: -1;
  }

  .icons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
  }

  .pagination-for-goods {
    display: grid;
    grid-template-columns: repeat(3, 14px);
    column-gap: 7px;
  }

  .goods-pagination-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.3);
    padding: 0;
    border: none;
    cursor: pointer;
  }

  .goods-pagination-button-current {
    background-color: #FCFCFC;
  }

  .goods-pagination-button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 1px solid #FCFCFC;
  }

  .goods-pagination-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 1px solid rgba(45, 52, 64, 1);
  }

  .social-list {
    display: flex;
  }

  .social-item:not(:last-child) {
    margin-right: 10px;
  }

  .social-button {
    padding: 13px 1px 5px 5px;
  }
  
  .social-image {
    outline: 2px solid rgba(252, 252, 252, 0.3);
    border-radius: 50%;
  }

  .social-button:hover .social-image {
    background-color: #2D3440;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.5);
  }

  .social-button:active .social-image {
    opacity: 50%;
    background-color: #2D3440;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.5);
  }

  .social-button:focus .social-image {
    background-color: #2D3440;
    border-radius: 50%;
    outline: 2px solid #2D3440;
    border: none;
  }

  .social-button:focus {
    outline: none;
  }

  /* ------gifts------ */

  .gifts {
    margin-bottom: 80px;
  }

  .gifts-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 30px;
    padding: 0;
    margin: 0;
  }

  .offer-wrapper {
    display: flex;
    width: 570px;
    background-color: #FF7799;
    border-radius: 16px;
  }

  .offer-wrapper-left {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  .offer-wrapper-left::after {
    position: absolute;
    content: url("../images/gift-raspberry.png");
    top: 0;
    left: 350px;
    z-index: 1;
  }

  .offer-wrapper-right {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  .offer-wrapper-right::after {
    position: absolute;
    content: url("../images/gift-marshmallow.png");
    top: 30px;
    left: 360px;
    z-index: 1;
  }

  .gifts-title,
  .popular-tastes-title,
  .shop-description-title{
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
  }

  .gifts-title {
    width: 434px;
    margin: 0 auto 55px auto;
  }

  .gift-block {
    display: flex;
    flex-direction: column;
    padding: 38px 13px 37px 36px;
  }

  .gift-block-marshmallow {
    padding: 38px 0 37px 36px;
  }

  .gifts-offer {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 26px 0;
  } 

  .gifts-description {
    width: 321px;
    font-weight: 400;
    margin: 0 0 28px 0;
  }

  .gifts-description-marshmallow {
    width: 294px;
  }

  .button-gift {
    width: 112px;
  }

  .gift-image-wrapper {
    display: flex;
    overflow: hidden;
  }

  .image-marshmallow-wrapper {
    padding-top: 19px;
    padding-right: 7px;
  }

  /* ------popular-tastes------ */

  .popular-tastes {
    margin-bottom: 80px;
  }

  .taste-title,
  .price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }

  .taste-title {
    margin-bottom: 8px;
    text-align: center;
  }

  .taste-description {
    font-weight: 400;
    color: #565C66;
    margin: 0 0 16px 0;
    text-align: center;
  }

  .popular-tastes-title {
    margin: 0 auto 107px auto;
    width: 527px;
  }

  .tastes-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    column-gap: 30px;
    padding: 0;
    margin: 0;
  }

  .tastes-item {
    display: flex;
    flex-direction: column;
    width: 190px;
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 0 40px 24px 40px;
  }

  .taste-image {
    border-radius: 50%;
    margin-top: -51px;
    margin-bottom: 16px;
  }

  .taste-image {
   align-self: center;
  }

  .price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .price {
    align-self: center;
  }

  .add-button {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #FF2F64;
    border-radius: 50%;
    border: 2px solid #FF2F64;
    padding: 0;
    cursor: pointer;
  }

  .basket-image {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 6px;
    fill: #FCFCFC;
  }

  .add-button:hover {
    background-color: #FCFCFC;
    border: 2px solid #FF2F64;
  }

  .add-button:hover .basket-image {
    fill: #2D3440;
  }

  .add-button:focus {
    background-color:#FF2F64;
    border: 2px solid #2D3440;
  }

  .add-button:focus .basket-image{
    fill: #FCFCFC;
  }

  .add-button:active:not(hover) {
    background-color: #FFCBD8;
    border: 2px solid #FF2F64;
  }

  .add-button:active .basket-image {
    fill: #2D3440;
  }

  .add-button:disabled:not(hover):not(active) {
    background-color: #B9B9B9;
    border: 2px solid #B9B9B9;
  }

  .add-button:disabled .basket-image {
    fill: #565C66;
  }

  /* ------shop-description------ */

  .description-item {
    font-weight: 400;
    color: #565C66;
  }

  .shop-description {
    background-image: url("../images/waffle-background.png");
    background-color: #F5DEB3;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 80px;
  }

  .shop-description-wrapper {
    background-color: #FCFCFC;
    border-radius: 16px;
  }

  .shop-description-title {
    padding: 56px 64px 0 63px;
    margin: 0 0 56px 0;
  }

  .shop-description-list {
    display: grid;
    grid-template-columns: repeat(2, 442px);
    grid-template-rows: repeat(2, auto);
    gap: 40px 95px;
    padding: 0 40px 56px 104px;
    margin: 0;
  }

  .description-item {
    margin: 0;
  }

  .shop-description-item {
    position: relative;
  }

  .shop-description-item:first-child::before {
    position: absolute;
    content: url("../images/icons/ice-cream.svg");
    left: -64px;
  }

  .shop-description-item:nth-child(2)::before {
    position: absolute;
    content: url("../images/icons/cow.svg");
    left: -64px;
  }

  .shop-description-item:nth-child(3)::before {
    position: absolute;
    content: url("../images/icons/leaf.svg");
    left: -64px;
  }

  .shop-description-item:nth-child(4)::before {
    position: absolute;
    content: url("../images/icons/thermometer.svg");
    left: -64px;
  }

  /* ------blocks-wrapper------ */

  .blocks-wrapper {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    margin-right: 30px;
    padding: 0;
    margin-bottom: 80px;
  }

  .article-title {
    line-height: 20px;
    font-weight: 400;
    color: #565C66;
  }

  .article {
    display: flex;
    flex-direction: column;
    background-image: url("../images/backgroung-for-article.jpg");
    background-color: #FCFCFC;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    border-radius: 16px;
    padding: 33px 235px 68px 32px;
    width: 303px;
  }

  .article-link {
    text-decoration: none;
  }

  .article-title {
    margin: 0 0 13px 0;
  }

  .new-article {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #2D3440;
    margin: 0;
  }

  .subscribe {
    display: flex;
    border: 6px solid #9FC8FF;
    border-image: url("../images/background-for-subscribe.png") 6 fill round;
    width: 558px;
  }

  .subscribe-wrapper {
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 26px 20px 26px 26px;
  }

  .subscribe-description {
    font-weight: 400;
    color: #565C66;
    margin: 0 0 44px 0;
  }

  .field {
    width: 302px;
    padding: 14px 10px 14px 16px;
    margin-right: 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    cursor: pointer;
  }

  .field::-webkit-input-placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #B9B9B9;
  }

  .field:hover {
   border: 1px solid #2D3440;
  }

  .field:hover::-webkit-input-placeholder {
    color: #2D3440;
  }

  .field:focus {
   outline: 2px solid #2D3440;
   outline-offset: -2px;
  }

  .field:focus::-webkit-input-placeholder {
    color: #2D3440;
  }

  .field:disabled {
    outline: 1px solid #B9B9B9;
    background-color: #E7E7E7;
    border: none;
  }

  .field:disabled::-webkit-input-placeholder {
    color: rgba(45, 52, 64, 0.65);
  }

  .subscribe-button {
   padding: 14px 32px 12px 32px;
   border: none;
  }

  /* ------delivery------ */

  .delivery-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    margin: 0 0 24px 0;
  }

  .delivery-description,
  .fill-form {
    font-weight: 400;
    color: #565C66;
  }

  .form-label {
    line-height: 20px;
    font-weight: 700;
  }

  .form-field {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 14px 13px 12px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-field::-webkit-input-placeholder {
    color:#B9B9B9
  }

  .form-field:hover {
    border: 1px solid #2D3440;
  }
 
   .form-field:hover::-webkit-input-placeholder {
     color: #2D3440;
   }
 
   .form-field:focus {
    outline: 2px solid #2D3440;
    outline-offset: -2px;
   }
 
   .form-field:focus::-webkit-input-placeholder {
     color: #2D3440;
   }
 
   .form-field:disabled {
     outline: 1px solid #B9B9B9;
     background-color: #E7E7E7;
     border: none;
   }
 
   .form-field:disabled::-webkit-input-placeholder {
     color: rgba(45, 52, 64, 0.65);
   }

  .delivery {
    display: flex;
    background-image: url("../images/delivery-background.jpg");
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    border-radius: 16px;
    margin-bottom: 80px;
  }

  .delivery-wrapper {
    width: 371px;
    padding: 168px 0 163px 100px;
    margin-right: 135px;
  }

  .delivery-description {
    margin: 0;
  }

  .delivery-form-wrapper {
    width: 500px;
    padding: 64px 64px 64px 0;
  }

  .delivery-form {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 40px 40px 42px 40px;
  }

  .fill-form {
    margin: 0 0 32px 0;
  }

  .date {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .form-label {
    position: relative;
    margin: 0 0 8px 0;
  }

  .phone {
    display: flex;
    flex-direction: column;
    margin: 0;
    grid-column: 2/4;
  }

  .address {
    display: flex;
    flex-direction: column;
    margin: 0 0 12px 0;
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: 117px 152px 119px;
    grid-template-rows: repeat(2, auto) 44px;
    column-gap: 16px;
    row-gap: 20px;
    margin: 0;
  }

  .delivery-button {
    padding: 12px 32px 12px 34px;
    border: none;
    grid-column: -3/-2;
    grid-row: 3/4;
  }

  /* ------tooltip------ */

  .tooltip {
    position: absolute;
    margin-top: 3px;
    margin-left: 4px;
    width: 14px;
    height: 14px;
    z-index: 1;
  }

  .tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
  }

  .tooltip-icon {
    width: 100%;
    height: 100%;
    display: block;
  }

  .tooltip-text {
    background-color: #FCFCFC;
    color: #565C66;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    border: 1px solid #B9B9B9;
    width: 146px;
    padding: 8px 8px 10px 7px;
    border-radius: 1px;
    display: block;
    box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.18);
    position: absolute;  
    left: 100%;  
    margin-left: 9px;
    transform: translateY(-25px);
    display: none;
  }

  .tooltip-text::before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #B9B9B9;
    position: absolute;
    transform: rotate(-90deg);
    left: -11px;
    top: 13px;
  }

  .tooltip-toggle:active {
    display: block;
  }

  .tooltip-toggle:hover .tooltip-text {
    display: block;
  }

  /* ------contacts------ */

  .contacts {
    background-image: url("../images/background-for-contacts.jpg");
    background-color: #DCDCDC;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    border-radius: 16px;
    padding: 64px 0 64px 64px;
  }

  .contacts-description,
  .contacts-for-order {
    font-weight: 400;
    color: #565C66;
    margin: 0 0 12px 0;
  }

  .office-address,
  .office-phone {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    color: #2D3440;
    text-decoration: none;
    margin: 0;
  }

  .office-address {
    margin-bottom: 24px;
  }

  .work-time {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #565C66;
    margin: 0 0 32px 0;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 263px;
    padding: 40px;
  }

  .contacts-button {
    width: 186px;
    padding: 13px 32px;
    text-decoration: none;
    border: none;
  }

  /* ------catalog------ */

  /* ------breadcrumbs------ */

  .navigation-catalog {
    margin-bottom: 24px;
  }

  .breadcrumbs {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .breadcrumbs-list {
    order: 1;
    display: flex;
    margin-bottom: 16px;
    margin-left: -4px;
  }

  .breadcrumbs-item {
    position: relative;
    margin-right: 20px;
  }

  .breadcrumbs-item::after {
    position: absolute;
    content: url("../images/icons/chevrons-right.svg");
    width: 12px;
    height: 12px;
    top: 2px;
    left: 70px;
  }

  .breadcrumbs-item:last-child::after {
    content: none;
  }

  .breadcrumbs-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    order: 2;
    margin: 0;
  }

  .breadcrumbs-link {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    text-decoration: none;
    padding: 4px 4px;
  }

  .breadcrumbs-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    outline: 2px solid #2D3440;
  }

  .breadcrumbs-item:last-child::after {
    position: absolute;
    content: " ";
    width: 57px;
    height: 1px;
    background-color: #2D3440;
    top: 20px;
    left: 4px;
  }

  /* ------sorting------ */

  .price-title,
  .filter-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .select-control {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
  }

  .range-input,
  .popular,
  .control-label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
  }

  .first-group {
    display: flex;
    margin-bottom: 16px;
  }

  .result-of-search {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 8px 0;
    padding-left: 16px;
  }

  .select-wrapper {
    display: flex;
    flex-direction: column;
    width: 196px;
    margin-right: 24px;
  }

  .select-control {
    background-color:rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    padding: 8px 40px 8px 16px;
    background-image: url("../images/icons/arrow-select.svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    appearance: none;
    cursor: pointer;
    border: none;
  }

  .select-control:hover {
    background-color:rgba(252, 252, 252, 0.5);
  }

  .select-control:focus {
    background-color:rgba(252, 252, 252, 0.4);
    outline: 2px solid #FCFCFC;
  }

  .filter-price {
    margin: 0;
    padding: 0;
    border: 0;
    width: 196px;
    margin-right: 24px;
  }

  .sorting-price-wrapper {
    display: flex;
    margin-bottom: 7px;
    padding-left: 16px;
  }

  .range-input {
    background-color: transparent;
    width: 28px;
    border: none;
  }

  .range-input:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 5px;
    outline: 1px solid #2D3440;
  }

  .range {
    padding: 17px 16px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
  }

  .range-scale {
    position: relative;
    height: 2px;
    background-color: rgba(86, 92, 102, 0.3);
    border-radius: 2px;
  }

  .range-bar {
    position: absolute;
    height: 2px;
    background-color: rgba(86, 92, 102, 1);
  }

  .range-toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #2D3440;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .range-toggle::after {
    position: absolute;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FCFCFC;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }

  .range-toggle:hover {
    background-color:#FCFCFC;
  }

  .range-toggle:hover::after {
    background-color: #2D3440;
  }

  .range-toggle:active {
    background-color:#2D3440;
  }

  .range-toggle:focus {
    background-color:#FCFCFC;
    outline: 2px solid #2D3440;
  }

  .range-toggle:focus::after {
    background-color: #2D3440;
  }

  .toggle-min {
    top: -8px;
    left: -6px;
  }

  .toggle-max {
    top: -8px;
    right: -10px;
  }

  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .range-input[type="number"] {
    -moz-appearance: textfield;
  }

  .filter-group {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .filter-title {
    margin-bottom: 6px;
    padding-left: 16px;
  }

  .filter-list {
    display: flex;
    flex-wrap: wrap;
    padding: 9px 6px 8px 24px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    margin-right: 18px;
  }

  .filter-item {
    margin-right: 16px;
    width: max-content;
  }

  .control {
    position: relative;
    display: block;
    padding-left: 25px;
  }

  .control-mark {
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1.5px solid #2D3440;
    border-radius: 2px;
    display: block;
    cursor: pointer;
  }

  .control-mark-checked {
    position: absolute;
    top: 3px;
    left: 0px;
    content: url("../images/icons/checkmark.svg");
    cursor: pointer;
  }

  .control-input[type="radio"] + .control-mark {
    border-radius: 50%;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    background-color: #2D3440;
    border-radius: 50%;
    content: "";
  }

  .control:hover .control-mark {
    border: 1.5px solid #FCFCFC;
  }

  .control:hover .control-mark-checked {
    fill: #FCFCFC;
  }

  .control-input[type="checkbox"]:disabled + .control-mark {
    border: 2px solid rgba(45, 52, 64, 0.4);
  }

  .control-input[type="checkbox"]:disabled + .control-mark-checked {
    fill: rgba(45, 52, 64, 0.4);
  }

  .control-input[type="radio"]:hover + .control-mark::before {
    background-color: #FCFCFC;
  }

  .control-input[type="radio"]:disabled + .control-mark {
    border: 2px solid rgba(45, 52, 64, 0.4);
  }

  .control-input[type="radio"]:disabled + .control-mark::before {
    background-color: rgba(45, 52, 64, 0.4);
  }

  .second-group {
    display: flex;
    align-items: flex-end;
  }

  .apply-button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid #FCFCFC;
    border-radius: 20px;
    padding: 8px 53.5px;
    border: none;
  }

  .apply-button:hover {
    background-color: #FCFCFC;
    outline: 2px solid rgba(252, 252, 252, 0.3);
  } 

  .apply-button:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 2px solid  #2D3440;
  }

  .apply-button:active {
    background-color: rgba(252, 252, 252, 0.5);
  }

  .apply-button:disabled {
    background-color: rgba(252, 252, 252, 0.3);
    color:rgba(45, 52, 64, 0.4);
    outline: 2px solid rgba(252, 252, 252, 0.4);
  }

  .sorting {
    margin-bottom: 95px;
  }   

  /* ------catalog------ */

  .catalog-title,
  .catalog-price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }
  
  .catalog-description {
    font-weight: 400;
    color: #565C66;
    margin: 0 0 16px 0;
    text-align: center;
  }

  .pagination-link {
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: none;
  }

  .catalog-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(3, auto);
    column-gap: 30px;
    row-gap: 91px;
    padding: 0;
    margin: 0 0 16px 0;
  }

  .catalog-title {
    margin-bottom: 8px;
    text-align: center;
  }

  .catalog-item {
    display: flex;
    flex-direction: column;
    width: 190px;
    background-color: #FCFCFC;
    border-radius: 8px;
    padding: 0 40px 24px 40px;
  }

  .catalog-image {
    border-radius: 50%;
    margin-top: -51px;
    margin-bottom: 16px;
    align-self: center;
  }

  .price-catalog-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .catalog-price {
    align-self: center;
  }
  
  .add-button {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #FF2F64;
    border-radius: 50%;
    border: 2px solid #FF2F64;
    padding: 0;
    cursor: pointer;
  }

  .basket-image {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 6px;
    fill: #FCFCFC;
  }

  .add-button:hover {
    background-color: #FCFCFC;
    border: 2px solid #FF2F64;
  }

  .add-button:hover .basket-image {
    fill: #2D3440;
  }

  .add-button:focus {
    border: 2px solid #2D3440;
  }

  .show-more-button {
    border: none;
    width: 179px;
    margin-right: 335px;
  }

  .pagination-catalog-container {
    display: flex;
    padding: 42px 0 85px 0;
  }

  .show-more-button-wrapper {
    padding-left: 490px;
  }

  .pagination-list {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .pagination-link {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .pagination-active {
    display: flex;
    background-color: #FCFCFC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .pagination-prev {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-image: url("..//images/icons/arrow-left.svg");
    background-position: center left 0;
    background-repeat: no-repeat;
  }

  .pagination-next {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-image: url("..//images/icons/arrow-right.svg");
    background-position: center right 0;
    background-repeat: no-repeat;
  }

  .pagination-next:focus {
    outline: none;
  }

  .pagination-link:hover {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 50%;
  }

  .pagination-link:active {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 1px solid #FCFCFC;
    outline-offset: -1px;
    border-radius: 50%;
  }

  .pagination-link:focus {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 1px solid #2D3440;
    outline-offset: -1px;
    border-radius: 50%;
  }
  
  /* ------footer------ */

  .footer {
    position: relative;
    display: flex;
    padding-top: 40px;
    padding-bottom: 48px;
    padding-right: 12px;
  }

  .footer-catalog::before {
    position: absolute;
    content: " ";
    width: 1170px;
    height: 1px;
    background-color: rgba(252, 252, 252, 0.3);
    left: 0;
    top: -5px;
  }

  .social-footer {
    padding-top: 3px;
  }

  .social-footer-list {
    display: flex;
    margin-right: 291px;
  }

  .social-footer-item:not(:last-child) {
    margin-right: 10px;
  }

  .social-footer-button {
    padding: 13px 1px 5px 5px;
  }
  
  .social-footer-image {
    outline: 2px solid rgba(252, 252, 252, 0.3);
    border-radius: 50%;
  }

  .social-footer-button:hover .social-footer-image {
    background-color: #2D3440;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.5);
  }

  .social-footer-button:active .social-footer-image {
    opacity: 50%;
    background-color: #2D3440;
    border-radius: 50%;
    outline: 2px solid rgba(252, 252, 252, 0.5);
  }

  .social-footer-button:focus .social-footer-image {
    background-color: #2D3440;
    border-radius: 50%;
    outline: 2px solid #2D3440;
    border: none;
  }

  .social-footer-button:focus {
    outline: none;
  }

  .information-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #2D3440;
    padding: 6px 8px;
  }

  .information-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    outline: 2px solid #2D3440;
  }

  .information-item:nth-child(1) a {
    font-weight: 700;
  }

  .information-item {
    position: relative;
  }

  .information-item:first-child::before {
    position: absolute;
    content: url("../images/icons/heart.svg");
    left: -18px;
    top: 5px;
  }

  .information-list {
    display: grid;
    grid-template-columns: 146px 216px;
    grid-template-rows: repeat(2, auto);
    gap: 6px 3px;
    padding-left: 24px;
  }

  .link-wrapper {
    margin-left: auto;
  }

  .html-image {
    padding: 4px 8px 2px 8px;
    margin-bottom: 5px;
  }

  .html-image-link:focus .html-image {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    outline: 2px solid #2D3440;
  }

  .html-image-link {
    outline: none;
  }

  .html-text-link-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
  }

  .html-text-link {
    border-bottom: 1px solid rgba(45, 52, 64, 0.5);
  }

  .html-description {
    margin: 0 3px 0 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
  }

  .html-text-link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #2D3440;
    margin: 0 3px 0 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .html-text-link:focus {
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 30px;
    outline: 1px solid #2D3440;
  }

  /* ------modal------ */

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 64, 0.3);
    z-index: 1;
  }

  .modal-container-close {
    display: none;
  }
        
  .modal {
    position: relative;
    margin: auto;
    padding: 64px;
    background-color: #FCFCFC;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgb(45, 52, 64, 0.12);
  }
    
  .modal-auth {
    width: 442px;
  }

  .modal-close-button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 30px;
    right: 28px;
    cursor: pointer;
  }

  .modal-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 32px 0;
  }

  .modal-form {
    margin: 0;
  }

  .modal-field,
  .modal-field-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-fild::-webkit-input-placeholder {
    color: #B9B9B9;
  }

  .modal-field-text::-webkit-input-placeholder {
    color: #B9B9B9;
  }
     
  .modal-field {
    width: 413px;
    padding: 14px 13px 14px 16px;
    margin: 0 0 13px 0;
  }

  .modal-field-text {
    width: 413px;
    padding: 14px 13px 113px 16px;
    margin: 0 0 33px 0;
  }

  .modal-button-wrapper{
    display: flex;
    justify-content: end;
  }

  .modal-button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FCFCFC;
    background-color: #FF2F64;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    width: 152px;
    padding: 12px 32px;
    border: none;
  }

  .modal-button:hover {
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    outline: 4px solid #FF2F64;
  }
  
  .modal-button:focus {
    background-color: #FF2F64;
    outline: 2px solid #2D3440;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  }
  
  .modal-button:active {
    color:#FCFCFC;
    background-color: #FEAFC3;
    outline: 2px solid #2D3440;
    box-shadow: 0, 4px, 12px rgba(45, 52, 64, 0.1);
  }
  
  .modal-button:disabled {
    color: #565C66;
    background-color: #B9B9B9;
    outline: 4px solid rgb(185, 185, 185, 0.3);
  }

  .modal-field:hover,
  .modal-field-text:hover {
    border: 1px solid #2D3440;
  }
  
  .modal-field:focus,
  .modal-field-text:focus  {
    outline: 2px solid #2D3440;
    outline-offset: -2px;
  }
  
  .modal-field:disabled,
  .modal-field-text:disabled {
    outline: 1px solid #B9B9B9;
    background-color: #E7E7E7;
    border: none;
  }
   
  .modal-field:disabled::-webkit-input-placeholder,
  .modal-field-text:disabled::-webkit-input-placeholder  {
    color: rgba(45, 52, 64, 0.65);
  }
  